@import "./utils.scss";


.page {
    position: relative;
    .dashboard {
        animation: fadeIn ease-in-out .4s;
        .top-presentational-container {
            width: 100%;
            height: 13rem;
            background:  #234e70;
            // background-image: linear-gradient(to left top, #234e70, #1e4661, #1b3d52, #1a3544, #192c36, #1a262e, #192026, #171a1e, #151518, #110f12, #0a0809, #000000);

            div {
                background-image: linear-gradient(to right top, #234e70, #1e4661, #1b3d52, #1a3544, #192c36, #1a262e, #192026, #171a1e, #151518, #110f12, #0a0809, #000000);
                width: 100%;
                height:115%; /*this works well because i cliped part of the height*/
                -webkit-clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
                clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
                .settings-icon {
                    position: absolute;
                    top: 2rem;
                    right: 6%;
                    color: $white;
                    font-size: 1.5rem;
                    opacity: 0.8;
                    transition: all ease-in-out .3s;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }
                }
            }
            
        }
        
        .personal-info {
            position: absolute;
            top: 8.5rem;
            right: 50%;
            transform: translateX(50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .profile-pic-container {
                width: 9rem;
                height: 9rem;
                -webkit-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                background-color: $white;
                display:inline-flex;
                justify-content: center;
                align-items: center;
                div {
                    width: 8rem;
                    height: 8rem;
                    -webkit-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                    clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                    background-color: $primary;
                    display:inline-flex;
                    justify-content: center;
                    align-items: center;
                    div {
                        width: 7.5rem;
                        height: 7.5rem;
                        -webkit-clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                        clip-path: polygon(98.66025% 45%, 99.39693% 46.5798%, 99.84808% 48.26352%, 100% 50%, 99.84808% 51.73648%, 99.39693% 53.4202%, 98.66025% 55%, 78.66025% 89.64102%, 77.66044% 91.06889%, 76.42788% 92.30146%, 75% 93.30127%, 73.4202% 94.03794%, 71.73648% 94.48909%, 70% 94.64102%, 30% 94.64102%, 28.26352% 94.48909%, 26.5798% 94.03794%, 25% 93.30127%, 23.57212% 92.30146%, 22.33956% 91.06889%, 21.33975% 89.64102%, 1.33975% 55%, 0.60307% 53.4202%, 0.15192% 51.73648%, 0% 50%, 0.15192% 48.26352%, 0.60307% 46.5798%, 1.33975% 45%, 21.33975% 10.35898%, 22.33956% 8.93111%, 23.57212% 7.69854%, 25% 6.69873%, 26.5798% 5.96206%, 28.26352% 5.51091%, 30% 5.35898%, 70% 5.35898%, 71.73648% 5.51091%, 73.4202% 5.96206%, 75% 6.69873%, 76.42788% 7.69854%, 77.66044% 8.93111%, 78.66025% 10.35898%);
                        background-color: $white;
                        display:inline-flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    
                }
            }
        }
        .sections {
            
            margin-top: 10rem;
            .section-title {
                font-size: 1.5rem;
                text-align: center;
                font-variant: small-caps;
            }
            .activities {
    
                margin: 1rem auto 2rem;
                background-color: #fff;
                width: 90%;
                padding: 2rem;
                border-radius: .5rem;
                box-shadow: 0 0 .8rem rgba($black, .3);
                display: flex;
                flex-wrap: wrap;
                .activity {
                    width: 50%;
                    height: auto;
                    text-align: center;
                    padding: 1rem;
                    .activity-icon {
                        font-size: 3rem;
                    }
                    span {
                        display: block;
                        text-align: center;
                        font-size: .8rem;
                    }
                    
                }
            }
        }


        
    }

    .user-settings {
        width: 100%;
        background-color: $white;
        animation: slideIn ease-in-out .4s;
        .sticky-top {
            position: sticky;
            top: 50px;
            left: 0;
            width: 100%;
            padding: 1.5rem;
            background-color: $white;
            margin: 0;
            z-index: 2;
            .arrow-back {
                font-size: 1.5rem;
                margin: 0 auto 0 0rem;
            }
        }
        .heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                text-align: center;
                font-variant: small-caps;
                color: $primary;
            }
            p {
                text-align: center;
                font-size: .8rem;
                font-weight: 200;
            }
        }
        .settings-main {
            margin-top: 2rem;
            padding: 0rem 2rem 2rem;
            .profile-pic-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .div-img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $primary;
                    div {
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        background-color: $white;
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .hover-overlay {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            border-radius: 50%;
                            opacity: 0;
                            background-color: $black;
                            transition: opacity ease-in-out .3s;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .camera-icon {
                                color: $white;
                                font-size: 2rem;
                            }
                        }
                        &:hover {
                            .hover-overlay {
                                opacity: .9;
                            }
                        }
                    }
                    

                }
                .change-picture-btn {
                    border: 1px solid $primary;
                    border-radius: .4rem;
                    transition: all ease-in-out .3s;
                    padding: .7rem;
                    .camera-icon {
                        vertical-align: bottom;
                    }
                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }
                }
            }
            .card-container {
                margin-top: 3rem;
                .card {
                    background-color: #fff;
                    border-bottom: 1px solid rgba($black, .3);
                    width: 100%;
                    height: 5rem;
                    overflow: hidden;
                    padding: 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    transition: height ease-in-out .3s;
                    &:last-child {
                        border-bottom: none;
                    }
                    .card-title {
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                    .arrow-icon {
                        font-size: 1rem;
                        position: absolute;
                        top: 2.2rem;
                        right: 1rem;
                        transition: all ease-in-out .3s;
                    }
                    .arrow-icon-rotate {
                        transform: rotate(90deg);
                    }
                    .card-body {
                        margin: 2rem 0;
                        width: 100%;
                        .current {
                            font-size: .8rem;
                            color:rgba($black, .5);
                            font-style: italic;
                            margin-bottom: .4rem;
                        }
                        .input-field {
                            display: block;
                            padding: .7rem;
                            border: 1px solid $primary;
                            border-radius: .2rem;
                        }
                        .submit-btn {
                            margin-left: 0;
                            background-color: $primary;
                            color: $white;
                            padding: .8rem
                        }
                    }
                }
                .card-expand {
                    height: 15rem;
                }
            }
        }
    }
    
    @keyframes slideIn {
        0% {
            transform: translateX(-100vw);
            box-shadow: 4px 0 1rem $primary
        }
        100% {
            transform: translateX(0vw);
            box-shadow: none;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


@media only screen and (min-width:768px) {
    .page {
        .dashboard {
            .top-presentational-container {
                height: 20rem;
            }
            .personal-info {
                top: 14rem;
                .profile-pic-container {
                    width: 12rem;
                    height: 12rem;
                    div {
                        width: 11rem;
                        height: 11rem;
                        div {
                            width: 10.5rem;
                            height: 10.5rem;
                        }
                    }
                }
            }

            .sections {
                margin-top: 12rem;
                .section-title {
                    font-size: 2rem;
                }
                .activities {
                    margin: 2rem auto 4rem;
                    width: 75%;
                    .activity {
                        padding: 1.5rem;
                        .activity-icon {
                            font-size: 5rem;
                        }
                        span {
                            font-size: 1rem;
                        }
                        
                    }
                }
            }
        }

        .user-settings {
            .sticky-top {
                padding: 1.5rem;
                .arrow-back {
                    font-size: 2rem;
                }
            }
            .heading {
                margin-top: 2rem;
                h1 {
                    font-size: 2rem;
                }
                
            }
            .settings-main {
                width: 75%;
                margin: 4rem auto;
                .card-container {
                    margin-top: 4rem;
                    .card {
                        height: 6rem;
                        padding: 2.2rem;
                        transition: height ease-in-out .3s;
                        .card-title {
                            font-size: 1.5rem;
                        }
                        .arrow-icon {
                            font-size: 1.4rem;
                            position: absolute;
                            top: 2.5rem;
                            right: 2rem;
                            cursor: pointer;
                        }
                        .card-body {
                            margin: 4rem 0;
                            .current {
                                font-size: 1rem;
                                margin-bottom: .5rem;
                            }
                            .input-field {
                                display: inline-block;
                                padding: 1rem;
                                border-radius: .4rem;
                            }
                            .submit-btn {
                                margin-left: 1rem;
                                background-color: $primary;
                                color: $white;
                                padding: 1rem;
                                transition: padding ease-in-out .3s;
                                &:hover {
                                    padding: 1.2rem;
                                }
                            }
                        }
                    }
                    .card-expand {
                        height: 17rem;
                    }
                }
            }
        }
    }
}
